# 开启 CORS 
# Header set Access-Control-Allow-Origin "*"
# Header set Access-Control-Allow-Headers "origin, x-requested-with, content-type"
# Header set Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"

# 保护 source 目录
# SetEnvIf Request_URI "(/source/)" deny
# Order deny,allow
# Deny from env=deny
# Satisfy any 

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]